### Description:
- Extracting all Song Title and Artist Name from Wikipedia Billboard tables

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [188]:
year_series = []
for i in range(0,41):
    year = 1980 + i
    for i in range(0,15):
        year_series.append(year)

In [161]:
years = np.arange(1980, 2020, 1)

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019])

### Downloading Artist and Song Name Data

In [180]:
title_series = []
artist_series = []
year_series = []

for year in years:
    url = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_{}'.format(year)
    if (year != 2012) & (year != 2013):
        df = pd.read_html(url)[0]
        df = df.head(15)
        title_series.append(df['Title'])
        artist_series.append(df['Artist(s)'])
        year_series.append(year)
    else:
        df = pd.read_html(url)[1]
        df = df.head(15)
        title_series.append(df['Title'])
        artist_series.append(df['Artist(s)'])
        year_series.append(year)

In [181]:
### Title DataFrame
data_title = pd.DataFrame({'Title' : title_series[0]})
for i in range(len(title_series)):
    data_title = data_title.append(pd.DataFrame(title_series[i]))

In [182]:
### Artist DataFrame
data_artist = pd.DataFrame({'Artist(s)' : artist_series[0]})
for i in range(len(artist_series)):
    data_artist = data_artist.append(pd.DataFrame(artist_series[i]))

In [189]:
data = pd.concat([data_title, data_artist], axis = 1)
data['Year'] = year_series
data.head()

                                  Title           Artist(s)  Year
0                             "Call Me"             Blondie  1980
1  "Another Brick in the Wall, Part II"          Pink Floyd  1980
2                               "Magic"  Olivia Newton-John  1980
3                       "Rock with You"     Michael Jackson  1980
4         "Do That to Me One More Time"  Captain & Tennille  1980

In [190]:
data.tail()

                        Title                        Artist(s)  Year
10               "High Hopes"              Panic! at the Disco  2020
11            "Thank U, Next"                    Ariana Grande  2020
12              "Truth Hurts"                            Lizzo  2020
13  "Dancing with a Stranger"            Sam Smith and Normani  2020
14                 "Se単orita"  Shawn Mendes and Camila Cabello  2020

In [191]:
data = data.reset_index()
data.drop('index', axis = 1, inplace = True)
data.head()

                                  Title           Artist(s)  Year
0                             "Call Me"             Blondie  1980
1  "Another Brick in the Wall, Part II"          Pink Floyd  1980
2                               "Magic"  Olivia Newton-John  1980
3                       "Rock with You"     Michael Jackson  1980
4         "Do That to Me One More Time"  Captain & Tennille  1980

In [192]:
data.tail()

                         Title                        Artist(s)  Year
610               "High Hopes"              Panic! at the Disco  2020
611            "Thank U, Next"                    Ariana Grande  2020
612              "Truth Hurts"                            Lizzo  2020
613  "Dancing with a Stranger"            Sam Smith and Normani  2020
614                 "Se単orita"  Shawn Mendes and Camila Cabello  2020

In [272]:
data.to_csv('Title-Artists.csv')